<?php
/**
 * @var Bss\HelloIntern\Block\Widget\InternList $block
 */
?>
<?php
$filteredCol = $block->getData('removeField');
?>
<h1> Intern List </h1>

<div class="carousel-wrap">
    <div class="carousel" id="myowl">
        <?php foreach ($block->getInternCollection() as $data): ?>
            <div class="item" style="text-align:center">
                <a href="hellointern/Internship/show/id/ <?= $block->escapeHtml($data['id']) ?>">
                    <?php if (strpos($filteredCol, 'avatar') === false): ?>
                        <img src="<?= $block->escapeHtml($data['avatar']) ?>">
                    <?php endif; ?>
                    <?= $block->escapeHtml($data['id']) ?> : <?= $block->escapeHtml($data['name']) ?> <br>
                </a>
                <?php if (strpos($filteredCol, 'dob') === false): ?>
                    <?= $block->escapeHtml($data['dob']) ?> <br>
                <?php endif; ?>
                <?php if (strpos($filteredCol, 'description') === false): ?>
                    <?= $block->escapeHtml($data['description']) ?> <br>
                <?php endif; ?>
            </div>
        <?php endforeach; ?>
    </div>
</div>

<table>
    <tr>
        <th>Sort Order</th>
        <th>ID</th>
        <?php if (strpos($filteredCol, 'name') === false): ?>
            <th>Name</th>
        <?php endif; ?>
        <?php if (strpos($filteredCol, 'avatar') === false): ?>
            <th>Avatar</th>
        <?php endif; ?>
        <?php if (strpos($filteredCol, 'dob') === false): ?>
            <th>Date of Birth</th>
        <?php endif; ?>
        <?php if (strpos($filteredCol, 'description') === false): ?>
            <th>Description</th>
        <?php endif; ?>
    </tr>
    <?php foreach ($block->getInternCollection() as $data): ?>
        <tr>
            <td> <?= $block->escapeHtml($data['sort_order']) ?> </td>
            <td> <?= $block->escapeHtml($data['id']) ?> </td>
            <?php if (strpos($filteredCol, 'name') === false): ?>
                <td> <?= $block->escapeHtml($data['name']) ?> </td>
            <?php endif; ?>
            <?php if (strpos($filteredCol, 'avatar') === false): ?>
                <td> <?= $block->escapeHtml($data['avatar']) ?> </td>
            <?php endif; ?>
            <?php if (strpos($filteredCol, 'dob') === false): ?>
                <td> <?= $block->escapeHtml($data['dob']) ?> </td>
            <?php endif; ?>
            <?php if (strpos($filteredCol, 'description') === false): ?>
                <td> <?= $block->escapeHtml($data['description']) ?> </td>
            <?php endif; ?>
        </tr>
    <?php endforeach; ?>
</table>

<script type="text/x-magento-init">
    {
        "#myowl": {
            "carousel" : {}
        }
    }

</script>
