<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Newsletter\Block\Subscribe $block */
?>
   <div class="content">
        <p> <strong> Subscribe Newsletter </strong> </p>
        The amber droplet hung from the branch, reaching fullness and ready to drop. It waited.
    </div>
