<?php
/**
 * @var Bss\CustomHeader\Block\AccountButton $block;
 */

$customerSession = $block->getSession();
?>
<?php if($customerSession->isLoggedIn()) : ?>
    <a class= "header_account_link" href="<?php echo $this->getUrl("customer/account/logout");?>"><?php echo __('Log out')?></a>
<?php else : ?>
    <a class= "header_account_link" href="<?php echo $this->getUrl("customer/account/login");?>"><?php echo __('Sign in')?></a>
    <a class= "header_account_link" href="<?php echo $this->getUrl("customer/account/create");?>"><?php echo __('Create new account')?></a>
<?php endif;?>
