.column {
    float: left;
    width: 29%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.page-footer {
    background: #0a0a0a;
    color: #575757;
}
p strong {
    font-size: 25px;
}
.action.subscribe.primary {
    background-color: red;
}
.copyright {
    background: #0a0a0a;
}
.block.newsletter {
    max-width: 100%;
}
img {
    border-radius: 5px;
}

.footer.content .block {
    float:left;
}

.header.content {
    max-width: 100%;
    padding: 0px 0 0;
}
.logo {
    margin: 0px 70px 25px 70px;
}
.page-header .switcher {
    position: relative;
    z-index: 4;
}
.header_account_link {
    float: right;
    position: relative;
    z-index: 4;
    margin-top: 13px;
    margin-left: 10px;
    color: white;
}
.block-search {
    margin-top: 7px;
}
.minicart-wrapper {
    margin-top: 7px;
    margin-right: 10px;
}
.page-header .switcher{
    margin-top: 13px;
    margin-left: 10px;
}
.nav-sections {
    background: #0a0a0a;
}
.navigation {
    background: #0a0a0a;
}
.navigation .level0 > .level-top {
    color: white;
}
a.header_account_link:visited, .alink:visited {
    color: white;
}
.page-header .switcher strong {
    color: white;
}
.navigation .level0.active > .level-top,
.navigation .level0.has-active > .level-top {
    color: red;
}
.header.links li {
    display: block;
    float: left;
    margin-left: 15px;
    color: white;
    margin-top: 13px;
}

.header.links {
    float: right;
    position: relative;
    z-index: 4;
    padding-left: 15px;
}

.customer-welcome .header.links {
    position: absolute;
}
