<form action="<?= $block->escapeHtml($block->getUrl("hellointern/internship/submitform")) ?>" method="POST">
    <input name="id" type="text">
    <input name="name" type="text">
    <input name="avatar" type="text">
    <input name="dob" type="date">
    <input name="description" type="text">
    <input type="submit" value="Add Intern">
</form>
