<?php
/**
 * @var Bss\HelloIntern\Block\Index $block
 */
?>
<h1>Intern List</h1>

<div class="carousel-wrap">
    <div class="carousel" id="myowl">
        <?php foreach ($block->getInternCollection() as $data): ?>
            <?php if ($block->escapeHtml($data['status']) == 'enabled'): ?>
                <div class="item" style="text-align:center">
                    <a href="show/id/ <?= $block->escapeHtml($data['id']) ?>">
                        <img src="<?= $block->escapeHtml($data['avatar']) ?>">
                        <?= $block->escapeHtml($data['id']) ?> : <?= $block->escapeHtml($data['name']) ?> <br>
                    </a>
                    <?= $block->escapeHtml($data['dob']) ?> <br>
                    <?= $block->escapeHtml($data['description']) ?> <br>
                </div>
            <?php endif; ?>
        <?php endforeach; ?>
    </div>
</div>

<table>
    <tr>
        <th>Sort Order</th>
        <th>ID</th>
        <th>Name</th>
        <th>Avatar</th>
        <th>DOB</th>
        <th>Description</th>
    </tr>
    <?php foreach ($block->getInternCollection() as $data): ?>
        <?php if ($block->escapeHtml($data['status']) == 'enabled'): ?>
            <tr>
                <td> <?= $block->escapeHtml($data['sort_order']) ?> </td>
                <td> <?= $block->escapeHtml($data['id']) ?> </td>
                <td> <?= $block->escapeHtml($data['name']) ?> </td>
                <td> <?= $block->escapeHtml($data['avatar']) ?> </td>
                <td> <?= $block->escapeHtml($data['dob']) ?> </td>
                <td> <?= $block->escapeHtml($data['description']) ?> </td>
            </tr>
        <?php endif; ?>
    <?php endforeach; ?>
</table>

<script type="text/x-magento-init">
    {
        "#myowl": {
            "carousel" : {}
        }
    }
</script>
