<?php
/**
 * @var Bss\HelloIntern\Block\Show $block
 */
?>
ID: <?= $block->escapeHtml($block->getDataID()->getId()) ?> <br>
Name: <?= $block->escapeHtml($block->getDataID()->getName()) ?> <br>
Avatar: <?= $block->escapeHtml($block->getDataID()->getAvatar()) ?> <br>
DOB: <?= $block->escapeHtml($block->getDataID()->getDob()) ?> <br>
Description: <?= $block->escapeHtml($block->getDataID()->getDescription()) ?> <br>

