<?php
/**
 * @var Bss\HelloWord\Block\Index $block
 */
?>
<div class="block-title">
    <strong>Thông tin</strong>
</div>
<div class="block-content">
    <div class="box box-information">
        <div class="box-content">
            <p>
                <b>Họ và tên: </b> <?= $block->escapeHtml($block->getName()) ?> <br>
                <b>Tuổi: </b> <?= $block->escapeHtml($block->getAge()) ?> <br>
                <b>Ngày sinh: </b> <?= $block->escapeHtml($block->getDob()) ?> <br>
                <b>Thông tin mô tả: </b> <?= $block->escapeHtml($block->getInfo()) ?> <br>
            </p>
        </div>
    </div>
    <div class="box">
        <div class="box-content">
            <img src= "<?= $block->escapeHtml($block->getImage()) ?>" max-width="240">
        </div>
    </div>
</div>
