<div class="box-tocart">
    <div class="fieldset">
        <button type="submit"
                class="action primary tocart"
                id="contact-button">
            <span><?=__("Contact for sale price")?></span>
        </button>
    </div>
</div>
