<?php
/**
 * @var Bss\CustomProductPage\Block\ProductList $block
 */

$productsList = $block->getProductsByCategory(4);
?>

<h2><?= __("Product List") ?></h2>

<div class="products wrapper grid products-grid">
    <ol class="products list items product-items">
        <?php foreach ($productsList as $product) : ?>
            <li class="item product product-item">
                <div class="product-item-info">
                    <a href="<?=$product->getProductUrl() ?>">
                        <img src="<?= $block->getImage($product, 'category_page_list')->getImageUrl()?>" max-width="250">
                    </a>
                </div>
                <div class="product details product-item-details">
                    <strong class="product name product-item-name">
                        <?= $product->getName() ?>
                    </strong>
                    <?= $block->getProductPriceHtml(
                        $product,
                        \Magento\Catalog\Pricing\Price\FinalPrice::PRICE_CODE,
                        \Magento\Framework\Pricing\Render::ZONE_ITEM_LIST
                    )?>
                </div>
            </li>
        <?php endforeach;?>
    </ol>
</div>

